.preloader {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url('../assets/img/load.gif');
    background-repeat: no-repeat; 
    background-color: #FFF;
    background-position: center;
 
 }
 .state{
    width: 100px;
    height: 100px;
    text-align: center;
        
    position: absolute;
    top:1;
    bottom: 0;
    left: 0;
    right: 0;
          
    margin: auto;
 }